.page-content {
    max-width: 70em;
    margin: 0 auto;
    padding: 0 1em;
}
pre code {
    font-size: 1em;
}
body {
    color: black;
}

nav a {
    font-size: 20px;
}

.post-content {
	font-size: 120%;
}

.nohighlight {
	color: black;
}

.post {
	padding: 0 0 10em 0;
}

h1, h2, h3, h4 {
	font-weight: bold;
}

img {
    max-width: 100%;
}
